<link href="https://fonts.googleapis.com/css2?family=Source+Code+Pro:wght@400..700" rel="stylesheet">
.menubar {
	position: sticky;
	top: 0;
	overflow: hidden;
	background-color: white;
	border-right: 1px solid black;
}

.menu-item {
		color: #1993bd;
		border-bottom: 1px dotted black;
}

.menu-item a {
		color: #1993bd;
}


.menu-header {
	background: gray;
	height: 12vh;
	padding-top: 0.5em;
	padding-left: 0.5em;
	padding-bottom: 0;
	font-size: calc(0.7em + 1vw);
	font-family: 'Figtree', serif;
	font-variation-settings: "wght" 550;
}

@media (width <= 800px) {
	.menubar {
		font-size: 0.8em;
	}
}
