@keyframes animgrad {
  0% {background-position: 0% 0%}
  50% {background-position: 100% 100%}
  100% {background-position: 0% 0%}
}

body {
  padding: 0;
  margin: 0;
  background: rgb(2,0,36);
  background: linear-gradient(333deg, rgba(128,124,204,0.7217087518601191) 0%, rgba(116,125,145,1) 49%, rgba(230,250,254,1) 100%);
  background-size: cover;
  height: 100%;
  animation-name: animgrad;
  animation-duration: 10s;
  animation-timing-function: ease-in-out;
  animation-iteration-count: infinite;
  background-repeat: no-repeat;
  min-height: 100vh;
}

.homeTitle {
  font-family: 'Roboto';
  @media (width <= 1200px) {
    margin-top: 5vw;
    font-size: 10vw;
  }
  @media (width > 1200px) {
    margin-top: 1vw;
    font-size: 3.5vw;
  }
}

.homeText {
  font-family: 'Roboto';
  margin-top: 1em;
  margin-bottom: 1em;
  @media (width <= 1200px) {
    font-size: 5vw;
  }
  @media (width > 1200px) {
    font-size: 2vw;
  }
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.portfolio-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-auto-rows: auto;
  gap: 1em;
  padding: 1em;
}

.portfolio-item {
  border: solid 0.2em #fff;
  border-radius: 0.25em;
  box-shadow: -0.075em -0.075em 0.25em black;
  text-align: left;
  padding: 1em;
  background-color: #b3bec4;
}

.portfolio-right {
  width: 95%;
  margin-left: 1em;
}

.portfolio-left {
  width: 95%;
  margin-left: 1em;
}

.portfolio-text-container {
  display: flex;
  flex-shrink: 1;
  flex-direction: column;
  margin: calc(1em + 0.5vw);
  gap: 0.5em;
}

.portfolio-title {
  font-family: 'Figtree', serif;
  font-variation-settings: "wght" 700;
  @media (width >= 1200px) {
    font-size: 2.2vw;
  }
  @media (width < 1200px) {
    font-size: 7vw;
  }
  margin-bottom: 1em;
}

.portfolio-body {
  font-family: 'Figtree', serif;
  font-variation-settings: "wght" 400;
  @media (width >= 1200px) {
    font-size: 1.2vw;
  }
  @media (width < 1200px) {
    font-size: 5vw;
  }
  margin-bottom: 1em;
}

.portfolio-image-container {
  @media (width <= 1200px) {
    max-width: 20em;
  }
  @media (width > 1200px) {
    max-width: 50em;
  }
  margin-top: 1em;
  background-color: #c2ccd1;
  border: 3px solid black;
  border-radius: 6px;
  box-shadow: inset 0 0 0.2em #1d1e1f;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.HomePage {
  min-height: 100%;
}
