@keyframes animgrad {
  0% {background-position: 0% 0%}
  50% {background-position: 100% 100%}
  100% {background-position: 0% 0%}
}

body {
  padding: 0;
  margin: 0;
  background: rgb(2,0,36);
  background: linear-gradient(333deg, rgba(128,124,204,0.7217087518601191) 0%, rgba(116,125,145,1) 49%, rgba(230,250,254,1) 100%);
  background-size: cover;
  height: 100%;
  animation-name: animgrad;
  animation-duration: 10s;
  animation-timing-function: ease-in-out;
  animation-iteration-count: infinite;
  background-repeat: no-repeat;
  min-height: 100vh;
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.HomePage {
  min-height: 100%;
}